<ion-grid class="gridClass">

  <p class="cardHeader">Add Subject</p>
  <br>
  
  
  

  <div class="tabs">

    <button class="tabbutton" (click)="clickProfile()">
      <ion-icon name="person" style="color:white;" size="large"></ion-icon>
    </button>

    <button class="tabbutton" (click)="clickAttendance()">
      <ion-icon name="calendar" style="color:white;" size="large"></ion-icon>
    </button>

    <button class="tabbutton" (click)="clickPending()">
      <ion-icon name="hourglass" style="color:white;" size="large"></ion-icon>
    </button>

  </div>

</ion-grid>