
<!-- <ion-header>
  <ion-toolbar style="--background:white;">
    <ion-buttons slot="start" style="color:black;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:black;" class="ion-text-center">Attendance</ion-title>
  </ion-toolbar>
</ion-header>
   -->
  <!-- <ion-row style="background-color: white;">
    <ion-buttons style="margin-left:10px;">
      <ion-icon name="menu" style="color: black;font-size: large;"></ion-icon>
      <ion-menu-button style="color:black;" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-col class="ion-text-center">
      <p style="font-size: 22px;font-weight: 600;color: black;">GaragePlug VehicleSense</p>
    </ion-col>
  </ion-row> -->

<ion-grid class="gridClass">

  <p class="cardHeader">Attendance</p>
  <br>
  
  <ion-icon name="add-circle-outline" 
            style="color: black; width: 100px; height: 100px;position: relative;top: 25%;" 
            (click)="clickAddSubject()">
  </ion-icon>
  <br>
  <div style="position: relative;top: 25%;">
    <p class="paras">Add Subjects</p>
  </div>

  <div class="tabs">

    <button class="tabbutton" (click)="clickProfile()">
      <ion-icon name="person" style="color:white;" size="large"></ion-icon>
    </button>

    <button class="tabbutton" (click)="clickAttendance()">
      <ion-icon name="calendar" style="color:white;" size="large"></ion-icon>
    </button>

    <button class="tabbutton" (click)="clickPending()">
      <ion-icon name="hourglass" style="color:white;" size="large"></ion-icon>
    </button>

  </div>

</ion-grid>

  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Login/Register</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
        <ion-button expand="full" >Login</ion-button>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
        <ion-button expand="full" >Register</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content> -->
  
  




  <!-- <ion-row>
    <ion-col offset="0.5">
      <h1 style="color: #1E232C; font-weight: bold; font-size: 30px;">{{ 'Enter Your Details' | translate}}</h1>
      <h1 style="color: #1E232C; font-weight: bold; font-size: 30px;">Enter Your Details</h1>
    </ion-col>
  </ion-row>

  <ion-row><ion-col></ion-col></ion-row>
  <ion-row><ion-col></ion-col></ion-row>
  
  <ion-row>
    

    <ion-col offset="0.5" size="11">
      <ion-item>
        <ion-input type="text" name="email" #email placeholder="Email"></ion-input>
    </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset="0.5" size="11">
      <ion-item>
        <ion-input type="password" name="email" #email placeholder="Password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row> -->
  
<!-- 
  <ion-row><ion-col></ion-col></ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col offset="0.5" style="display:flex;align-items: center;">

            <ion-checkbox (ionChange)="checkTerms()" label="agreeConditions" style="--checkbox-background-checked:#188F79;--checkbox-background:white;transform: scale(0.75);border: 2px solid #80807F;border-radius: 100%;"></ion-checkbox>
            <p style="color: black;display:inline;font-size: 12px;"><b>{{'I agree to the' | translate}}</b></p>
            <a href="https://docs.google.com/document/d/1fL-u6IIOnSYN1IVHLJbrzDyoTw2icHsMuxgzWWqN6CM/edit" target="_blank" style="font-size: 12px; color:#188F79;font-weight: bold;">
              {{'Terms and Conditions' | translate}}
            </a>
          
    </ion-col>
  </ion-row>


  <ion-row><ion-col></ion-col></ion-row>
  <ion-row><ion-col></ion-col></ion-row>
  <ion-row><ion-col></ion-col></ion-row>

  <ion-row style="position:absolute; bottom: 5%; width:100%;display:flex;justify-content: center;">
    <ion-col class="ion-text-center" size="10">
      <ion-button [disabled]="!isChecked" style="--background: #188F79;color: white;width:100%;--border-radius:100px;height:50px;" (click)="sendOTP()">
        {{'Get OTP' | translate}}
      </ion-button>
    </ion-col>
  </ion-row> -->


<!-- </ion-grid> -->


