<ion-grid class="gridClass">

      <p class="cardHeader">LOGIN</p>
      <div style="display:flex; justify-content: center;">
        <p style="font-size: 18px;color: black;font-weight: 500;">
          Sign in to continue
        </p>
      </div>
      <br>
      <div style="width: 70%;">
        <p style="color:black;font-weight: 500;margin-bottom: 3px;">Email</p>
        <ion-item class="inputBox">
          <ion-input type="text" style="height: 55px;"></ion-input>
        </ion-item>
      </div>
      <div style="width: 70%;">
        <p style="color:black;font-weight: 500;margin-bottom: 3px;">Password</p>
        <ion-item class="inputBox">
          <ion-input type="password" style="height: 55px;"></ion-input>
        </ion-item>
      </div>
      <!-- <ion-item class="inputBox">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item> -->
      <br>
      <br>
      <ion-button style="--background: black;color: white;width: 70%;--border-radius:100px;height:50px;" (click)="login()">
        Sign in
      </ion-button>

        <!-- <div class="divider">
          <div class="line"></div>
          <div class="or">OR</div>
          <div class="line"></div>
        </div> -->
        <br>
        <br>
        <!-- <div style="display: flex; justify-content: center;">
          <div style="display: flex; justify-content: center;width: fit-content;" id="div1">
            <p>Dont have an account?</p>
            <p style="font-size: 24px;" (click)="clickRegister()">Register</p>
          </div>
        </div> -->
        <div>
          <p style="display: inline;font-size: 14px;color:black;">
            Don't have an account?
          </p>
          <p style="display: inline;font-size: 14px;color: blue;" (click)="clickRegister()">
            Register here.
          </p>
        </div>
      
      

    <!-- </ion-card-content> -->
  <!-- </ion-card> -->
</ion-grid>

  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Login/Register</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
        <ion-button expand="full" >Login</ion-button>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
        <ion-button expand="full" >Register</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content> -->
  
  




  <!-- <ion-row>
    <ion-col offset="0.5">
      <h1 style="color: #1E232C; font-weight: bold; font-size: 30px;">{{ 'Enter Your Details' | translate}}</h1>
      <h1 style="color: #1E232C; font-weight: bold; font-size: 30px;">Enter Your Details</h1>
    </ion-col>
  </ion-row>

  <ion-row><ion-col></ion-col></ion-row>
  <ion-row><ion-col></ion-col></ion-row>
  
  <ion-row>
    

    <ion-col offset="0.5" size="11">
      <ion-item>
        <ion-input type="text" name="email" #email placeholder="Email"></ion-input>
    </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset="0.5" size="11">
      <ion-item>
        <ion-input type="password" name="email" #email placeholder="Password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row> -->
  
<!-- 
  <ion-row><ion-col></ion-col></ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col offset="0.5" style="display:flex;align-items: center;">

            <ion-checkbox (ionChange)="checkTerms()" label="agreeConditions" style="--checkbox-background-checked:#188F79;--checkbox-background:white;transform: scale(0.75);border: 2px solid #80807F;border-radius: 100%;"></ion-checkbox>
            <p style="color: black;display:inline;font-size: 12px;"><b>{{'I agree to the' | translate}}</b></p>
            <a href="https://docs.google.com/document/d/1fL-u6IIOnSYN1IVHLJbrzDyoTw2icHsMuxgzWWqN6CM/edit" target="_blank" style="font-size: 12px; color:#188F79;font-weight: bold;">
              {{'Terms and Conditions' | translate}}
            </a>
          
    </ion-col>
  </ion-row>


  <ion-row><ion-col></ion-col></ion-row>
  <ion-row><ion-col></ion-col></ion-row>
  <ion-row><ion-col></ion-col></ion-row>

  <ion-row style="position:absolute; bottom: 5%; width:100%;display:flex;justify-content: center;">
    <ion-col class="ion-text-center" size="10">
      <ion-button [disabled]="!isChecked" style="--background: #188F79;color: white;width:100%;--border-radius:100px;height:50px;" (click)="sendOTP()">
        {{'Get OTP' | translate}}
      </ion-button>
    </ion-col>
  </ion-row> -->


<!-- </ion-grid> -->


