.gridClass{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/WT_background.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
}

.cardHeader{
    font-size: 30px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    margin:0;
  }

.cardClass{
    background-color: white;
    width: 60%;
    height: 80%;
}

.backButton{
    background-color: white;
    color:black;
    font-size: 22px;

}

.inputBox {
    color: black;
    --background: white;
    border-radius: 10px;
    --border-color: transparent;
  }

.saveButton{
    --background: #F70D1A;
    color: white;
    width:70%;
    margin-left: 15%;
    --border-radius:100px;
    height:50px;
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paras {
    color:black;
    font-weight: 550;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 14px;
}
