<ion-grid class="gridClass">
  
    <!-- <ion-row>
      <ion-col class="ion-text-start">
        <button (click)="backToLogin()" style="background-color: white;margin: 18px;">
          <ion-icon name="chevron-back" class="backButton"></ion-icon>
        </button>
      </ion-col>
    </ion-row> -->
    <br>

    <p class="cardHeader">Create new Account</p>
    <!-- <div style="display:flex; justify-content: center;">
      <p style="font-size: 18px;color: black;font-weight: 500;">
        Sign in to continue
      </p>
    </div> -->

    <div>
      <p style="display: inline;font-size: 14px;color:black;">
        Already registered?
      </p>
      <p style="display: inline;font-size: 14px;color: blue;" (click)="backToLogin()">
        Login here.
      </p>
    </div>
    <br>
    <div style="width: 70%;">
      <p class="paras">Name</p>
      <ion-item class="inputBox">
        <ion-input type="text" style="height: 55px;"></ion-input>
      </ion-item>
    </div>

      <!-- <ion-item class="inputBox">
        <div style="display: flex;width:100%;">
          <div style="height:100%; display: flex; align-items: center;">
            <ion-icon name="person" style="color: black;"></ion-icon>
          </div>
          <div style="height: 100%;margin-left: 14px;padding-bottom: 3px;">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </div>
      </ion-item> -->

      <div style="width: 70%;">
        <p class="paras">Email</p>
        <ion-item class="inputBox">
          <ion-input type="text" style="height: 55px;"></ion-input>
        </ion-item>
      </div>

      <div style="width: 70%;">
        <p class="paras">College</p>
        <ion-item class="inputBox">
          <ion-input type="text" style="height: 55px;"></ion-input>
        </ion-item>
      </div>

      <div style="width: 70%;">
        <p class="paras">Branch</p>
        <ion-item class="inputBox">
          <ion-input type="text" style="height: 55px;"></ion-input>
        </ion-item>
      </div>

      <div style="width: 70%;">
        <p class="paras">CGPA</p>
        <ion-item class="inputBox">
          <ion-input type="text" style="height: 55px;"></ion-input>
        </ion-item>
      </div>

      <div style="width: 70%;">
        <p class="paras">Password</p>
        <ion-item class="inputBox">
          <ion-input type="password" style="height: 55px;"></ion-input>
        </ion-item>
      </div>

      <div style="width: 70%;">
        <p class="paras">Confirm Password</p>
        <ion-item class="inputBox">
          <ion-input type="password" style="height: 55px;"></ion-input>
        </ion-item>
      </div>

      <!-- <ion-row><ion-col></ion-col></ion-row>

      <ion-item class="inputBox">
        <div style="display: flex;width:100%;">
          <div style="height:100%; display: flex; align-items: center;">
            <ion-icon name="mail" style="color: black;"></ion-icon>
          </div>
          <div style="height: 100%;margin-left: 14px;padding-bottom: 3px;">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </div>
      </ion-item> -->

      <!-- <br> -->
      <!-- <ion-row><ion-col></ion-col></ion-row>

      <ion-item class="inputBox">
        <div style="display: flex;width:100%;">
          <div style="height:100%; display: flex; align-items: center;">
            <ion-icon name="school" style="color: black;"></ion-icon>
          </div>
          <div style="height: 100%;margin-left: 14px;padding-bottom: 3px;">
            <ion-label position="floating">College</ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </div>
      </ion-item> -->

      <!-- <br> -->
      <!-- <ion-row><ion-col></ion-col></ion-row>

      <ion-item class="inputBox">
        <div style="display: flex;width:100%;">
          <div style="height:100%; display: flex; align-items: center;">
            <ion-icon name="git-branch" style="color: black;"></ion-icon>
          </div>
          <div style="height: 100%;margin-left: 14px;padding-bottom: 3px;">
            <ion-label position="floating">Branch</ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </div>
      </ion-item>

      <ion-row><ion-col></ion-col></ion-row> -->

      <!-- <ion-item class="inputBox">
        <div style="display: flex;width:100%;">
          <div style="height:100%; display: flex; align-items: center;">
            <ion-icon name="book" style="color: black;"></ion-icon>
          </div>
          <div style="height: 100%;margin-left: 14px;padding-bottom: 3px;">
            <ion-label position="floating">CGPA</ion-label>
            <ion-input type="text"></ion-input>
          </div>
        </div>
      </ion-item>

      <ion-row><ion-col></ion-col></ion-row> -->

      <!-- <ion-item class="inputBox">
        <div style="display: flex;width:100%;">
          <div style="height:100%; display: flex; align-items: center;">
            <ion-icon name="lock-closed" style="color: black;"></ion-icon>
          </div>
          <div style="height: 100%;margin-left: 14px;padding-bottom: 3px;">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </div>
        </div>
      </ion-item> -->
      
      <!-- <br> -->
      <!-- <ion-row><ion-col></ion-col></ion-row>

      <ion-item class="inputBox">
        <div style="display: flex;height: 100%;width:100%;">
          <div style="height:100%; display: flex; align-items: center;">
            <ion-icon name="lock-closed" style="color: black;"></ion-icon>
          </div>
          <div style="height: 100%;margin-left: 14px;padding-bottom: 3px;">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password"></ion-input>
          </div>
        </div>
      </ion-item> -->

      <!-- <br>  -->
      <!-- <ion-row><ion-col></ion-col></ion-row>
      <ion-row><ion-col></ion-col></ion-row>
      <ion-row><ion-col></ion-col></ion-row> -->

      <br>
      <ion-button style="--background: black;color: white;width: 70%;--border-radius:100px;height:50px;margin-bottom: 20px;" (click)="createAccount()">
        Create Account
      </ion-button>


  

</ion-grid>